    header img{
        width:250px;
    }
    nav{
        justify-content: space-around;
    }
    nav ul{
        list-style:none;
        font-family: 'Georgia';
    }
    nav ul li {
        text-align: left;
        padding: 5px;
    }

    nav ul li button{
        font-family: 'Georgia';
        background-color: #fffdfd;
        color: black;
        width: 150px;
        height:30px;
        transition: all 1s ease-out ;
        border-radius: 5px;
        text-align: left;
    }
    nav ul li button:hover{
        background-color: antiquewhite;
        color:grey;
        cursor: pointer;

    }
    nav ul li button i {
        margin: 10px;
    }

    /* MAiN i sections*/

    main{
        width:max-content;
        position: absolute;
        left: 350px;
        top:30px;
    }
    main section{
        width: 100%;
        background-color: lightgrey;
        border-color: black;
        border-radius: 10px;
        padding: 5px 20px 5px 20px;
        margin: 25px 0px;
    }
    main h1{
        font-family: 'Shrikhand', cursive;
        font-size: 32px;
        font-weight: 600;
    }
    main h2{
        font-family: 'Georgia';
        font-size: 14px;
    
    }
    footer{
        width: 640px;
        position: absolute;
        bottom: 10px;
    }
  